/* Stylesheet for Energi schema */

/*Global*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*Vars*/
:root {
    --primary-color: #a143cd;
    --secondary-color: #ded2e4;
}

/*Nav bar*/
nav {
    width: 100%;
    height: 100px;
    background-color: var(--primary-color);
    border-bottom: 3px solid black;

    &>ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        height: inherit;
        width: inherit;

        &>li {
            height: inherit;
            text-align: center;
            align-content: center;
            justify-items: center;

            &>button {
                width: 100%;
                height: 70%;
                font-size: 1.5rem;
                color: white;
                background-color: var(--primary-color);
                border: none;
                cursor: pointer;

                &>a {
                    text-decoration: none;
                    color: white;
                }

                &:hover a {
                    text-decoration: underline;
                    color: turquoise;
                }
            }
        }



        &>:nth-child(2) div {
            height: 100%;
            object-fit: contain;
            justify-content: center;

            &>img {
                width: auto;
                height: 100%;
                border-radius: 75%;
            }
        }

        &>:first-child,
        &>:last-child {
            width: 20%;
            color: white;
            font-size: 1.5rem;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}


/*engeri*/

.outer-container {
    width: 100%;
    background-color: var(--primary-color);
    height: 100vh;
    display: flex;


    /*emoji list*/
    &>:nth-child(1) {
        background-color: red;
        width: 10%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        border-right: 3px solid black;

        &>:nth-child(1) {
            background-color: green;
            width: 100%;
            height: 20%;
        }

        &>:nth-child(2) {
            background-color: yellow;
            width: 100%;
            height: 20%;
        }

        &>:nth-child(3) {
            background-color: orange;
            width: 100%;
            height: 20%;
        }

        &>:nth-child(4) {
            background-color: coral;
            width: 100%;
            height: 20%;
        }

        &>:nth-child(5) {
            background-color: brown;
            width: 100%;
            height: 20%;
        }

        &>:nth-child(1),
        :nth-child(2),
        :nth-child(3),
        :nth-child(4),
        :nth-child(5) p {
            width: 100%;
            height: 100%;
            font-size: 8rem;
            justify-content: center;
            align-items: center;
        }

    }

    /*Engeri schema*/
    &>:nth-child(2) {
        background-color: var(--secondary-color);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        &>:nth-child(1) {
            background-color: lightblue;
            width: 100%;
            height: 20%;
            border-bottom: 3px solid black;
        }

        &>:nth-child(2) {
            background-color: lightgreen;
            width: 100%;
            height: 20%;
            border-bottom: 3px solid black;
        }

        &>:nth-child(3) {
            background-color: wheat;
            width: 100%;
            height: 20%;
        }

        &>:nth-child(4) {
            background-color: lightpink;
            width: 100%;
            height: 20%;
            border-top: 3px solid black;
        }

        &>:nth-child(5) {
            background-color: red;
            width: 100%;
            height: 20%;
            border-top: 3px solid black;
        }
    }


}





/*Login in page*/

.login-container {
    width: 100%;
    height: 100vh;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;


    &>form {
        width: 30%;
        height: 50%;
        background-color: white;
        border: 3px solid var(--primary-color);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-size: x-large;

        &>input {
            width: 80%;
            height: 15%;
            font-size: 1.2rem;
            border: 2px solid var(--primary-color);
            border-radius: 5px;
        }

        &>button {
            width: 50%;
            height: 15%;
            font-size: 1.2rem;
            color: white;
            background-color: var(--primary-color);
            border: none;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background-color: turquoise;
            }
        }
    }
}



/*Energi input submit page*/
.input-container {
    width: 100%;
    height: 100vh;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;


    &>form {
        width: 50%;
        height: 70%;
        background-color: white;
        border: 3px solid var(--primary-color);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-size: x-large;

        &>input,
        select {
            width: 80%;
            height: 15%;
            font-size: 1.2rem;
            border: 2px solid var(--primary-color);
            border-radius: 5px;
        }

        &>button {
            width: 30%;
            height: 15%;
            font-size: 1.2rem;
            color: white;
            background-color: var(--primary-color);
            border: none;
            border-radius: 20px;
            cursor: pointer;

            &:hover {
                background-color: turquoise;
            }
        }
    }
}