/* Stylesheet for Energi schema */

/*Global*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1vh 1vh 0vh 1vh;
    height: 99vh;
}




input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*Media Querries*/



/*Vars*/
:root {
    --primary-color: #a143cd;
    --secondary-color: white;
    --aspit-main-color: #194145;
}

/*Nav bar*/
nav {
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    width: 100%;
    height: 5vh;
    background-color: var(--aspit-main-color);
    border-bottom: 2px solid black;
    border: 2px solid black;

    &>ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-content: center;
        height: inherit;
        width: inherit;
        justify-content: space-between;

        &>li {
            height: inherit;
            text-align: center;
            align-content: center;
            justify-items: center;
        }



        &>:nth-child(1) div {
            height: 100%;
            object-fit: contain;
            justify-content: center;
            margin-left: 100%;
            justify-self: left;

            &>img {
                width: auto;
                height: 100%;
                border-radius: 75%;
            }
        }

        &>:nth-child(2) {
            margin-right: 10%;

            &>p {
                color: gainsboro;
                font-size: 1.2rem;
                font-weight: bold;
            }


        }
    }
}


/*engeri*/

.outer-container {
    width: 100%;
    background-color: white;
    height: 94vh;
    display: flex;
    border-right: 2px solid black;

    /*emoji list*/
    &>:nth-child(1) {
        width: 10%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        border-right: 2px solid black;
        border-left: 2px solid black;

        &>:nth-child(1) {
            background-color: green;
            width: 100%;
            height: 20%;
            border-bottom: 2px solid black;

            &>img {
                max-width: 100%; 
                max-height: 100%;
                object-fit: contain;
            }
        }

        &>:nth-child(2) {
            background-color: yellow;
            width: 100%;
            height: 20%; 
            border-bottom: 2px solid black;
            overflow: hidden;

            &>img {
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
            }
        }

        &>:nth-child(3) {
            background-color: orange;
            width: 100%;
            height: 20%;
            border-bottom: 2px solid black;
            overflow: hidden;

            &>img {
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
            }
        }

        &>:nth-child(4) {
            background-color: coral;
            width: 100%;
            height: 20%;
            border-bottom: 2px solid black;
            overflow: hidden;

            &>img {
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
            }
        }

        &>:nth-child(5) {
            background-color: brown;
            width: 100%;
            height: 20%;
            border-bottom: 2px solid black;
            overflow: hidden;

            &>img {
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
            }
        }

    }

    /*Engeri schema*/
    &>:nth-child(2) {
        background-color: whitesmoke;
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        &>:nth-child(1),
        &>:nth-child(2),
        &>:nth-child(3),
        &>:nth-child(4),
        &>:nth-child(5) {
            width: 100%;
            height: 20%;
            border-bottom: 2px solid black;
        }

        &>:nth-child(2),
        &>:nth-child(4) {
            background-color: aliceblue;
        }


        &>:nth-child(3) {
            display: flex;
            flex-direction: row;

            /*&>div {
                width: 10%;
                height: 100%;
                display: flex;
                align-items: center;
                display: flex;
                flex-direction: column;


                &>img {
                    height: 80%;
                    object-fit: contain;
                }


                 &>p {
                    height: 20%;
                    font-size: 2rem;
                    width: 100%;
                    text-align: center;
                    background-color: var(--primary-color);
                    border-bottom-left-radius: 20px;
                    border-bottom-right-radius: 20px;

                } */
            }
        }
    }




/*Login in page*/

.login-container {
    width: 100%;
    height: 100vh;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;


    &>form {
        width: 30%;
        height: 50%;
        background-color: white;
        border: 3px solid var(--aspit-main-color);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-size: x-large;

        &>input {
            width: 80%;
            height: 15%;
            font-size: 1.2rem;
            border: 2px solid var(--aspit-main-color);
            border-radius: 5px;
        }

        &>button {
            width: 50%;
            height: 15%;
            font-size: 1.2rem;
            color: white;
            background-color: var(--aspit-main-color);
            border: none;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background-color: turquoise;
            }
        }
    }
}



/*Energi input submit page*/
.input-container {
    width: 100%;
    height: 100vh;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;


    &>form {
        width: 50%;
        height: 70%;
        background-color: white;
        border: 3px solid var(--aspit-main-color);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-size: x-large;

        &>input,
        select {
            width: 80%;
            height: 15%;
            font-size: 1.2rem;
            border: 2px solid var(--aspit-main-color);
            border-radius: 5px;
        }

        &>button {
            width: 30%;
            height: 15%;
            font-size: 1.2rem;
            color: white;
            background-color: var(--aspit-main-color);
            border: none;
            border-radius: 20px;
            cursor: pointer;

            &:hover {
                background-color: turquoise;
            }
        }
    }
}



/* Testing */

.testouter{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 60%;
    height: 20vh;
    top: 35vh;
    justify-self: center;
    border: black 2px solid;
    border-radius: 200px;
    align-items: center;
    justify-content: center;

     &>:nth-child(1) {
        background-color: yellow;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        height: 100%;
        border-radius: 200px;

        &>:first-child {
            border-top-left-radius: 200px;
            border-bottom-left-radius: 200px;
        }
        &>:last-child {
            border-top-right-radius: 200px;
            border-bottom-right-radius: 200px;
        }

        &>div {
            background-color: orange;
            width: 20%;
            height: 100%;
            border: 1px solid black;
            align-content: center;

            &>button{
                position: absolute;
                z-index: 2;
                width: 20%;
                height: 80%;
                opacity: 0;
                border-radius: 200px;
            }
            &>button:hover {
                display: inline;
                cursor: pointer;
                background-color: white;
                opacity: 0.2;
            }

            &>Img{
                width: 100%;
                height: 80%;
                object-fit: contain;
            }
        }

     }

     #test {
        position: absolute;
        top:  -50%;
        width: 100px;
        height: 100px;

        &>div{
            width: 100%;
            height: 100%;
            background-color: red;
            border-radius: 50px;
        }

     }



}